.CarDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    /* card */

    box-shadow: 118px 242px 108px rgba(16, 38, 70, 0.02),
    66px 136px 91px rgba(16, 38, 70, 0.05),
    30px 61px 67px rgba(16, 38, 70, 0.09),
    7px 15px 37px rgba(16, 38, 70, 0.1),
    0px 0px 0px rgba(16, 38, 70, 0.1);
    border-radius: 20px;
}

.Title {
        position:relative;
        height: 1.75;
        width: 100%;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        border-bottom: 2px solid #5EAAF6;
    
        /* h4 */
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2rem;
    
        display: flex;
        align-items: flex-start;
    
        color: #414750;
}

.InputSection {
    position: relative;
}

.InputLine {
    position: relative;
    height: 5rem;
    /* padding: 1.5rem; */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.InputLine label {
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.InputLine input, .InputLine div, .InputLine span {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 1rem;

    font-family: 'Poppins';
    line-height: 1.2rem;
    
}

.ToggleSearch {
    cursor: pointer;
}


.Next {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 73px;
    gap: 10px;

    position: absolute;
    width: 188px;
    height: 46px;
    left: 618px;
    top: 732px;

    background: #0076BD;
    border-radius: 25px;
}

.OptionToggle1 {
    cursor: pointer;
    color: green;
}

.OptionToggle2 {
    cursor: pointer;
    color: red;
}

.Button {
    cursor: pointer;
}