.InputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PlanCardContainer {
    display: flex;
    justify-content: center
}

.PlanCard {
    position: relative;
        width: 350px;
        height: 350px;
    
        /* card */
    
        box-shadow: 118px 242px 108px rgba(16, 38, 70, 0.02), 66px 136px 91px rgba(16, 38, 70, 0.05), 30px 61px 67px rgba(16, 38, 70, 0.09), 7px 15px 37px rgba(16, 38, 70, 0.1), 0px 0px 0px rgba(16, 38, 70, 0.1);
            border-radius: 20px;
}

.SliderCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
        width: 70%;
        height: 200px;
    
        background: #FFFFFF;
        /* card */
    
        box-shadow: 118px 242px 108px rgba(16, 38, 70, 0.02), 66px 136px 91px rgba(16, 38, 70, 0.05), 30px 61px 67px rgba(16, 38, 70, 0.09), 7px 15px 37px rgba(16, 38, 70, 0.1), 0px 0px 0px rgba(16, 38, 70, 0.1);
        border-radius: 20px;
}

.ExcessSliderLine {
     position: relative;
        width: 843px;
        height: 0px;
        
    
        border: 20px solid rgba(179, 179, 179, 0.5);
}

.ValueSliderLine {
   position: relative;
        width: 281px;
        height: 0px;
        border: 20px solid rgba(179, 179, 179, 0.5);
}

.ActiveValueSliderLine {
    position: relative;
    width: 281px;
    height: 0px;
    border: 20px solid #DEA01E;
}

.CirclesContainer {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 700px;
    height: 50px;
}

.Circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #565E69;
    color: black;
    cursor: pointer;
}

.ActiveCircle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #DEA01E;
    cursor: pointer;
}

.CircleText {
    position: relative;
    top: 60px;
}

.CheckboxCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 300px;

    background: #FFFFFF;
    /* card */

    box-shadow: 118px 242px 108px rgba(16, 38, 70, 0.02), 66px 136px 91px rgba(16, 38, 70, 0.05), 30px 61px 67px rgba(16, 38, 70, 0.09), 7px 15px 37px rgba(16, 38, 70, 0.1), 0px 0px 0px rgba(16, 38, 70, 0.1);
    border-radius: 20px;
}

.ButtonLine {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.Button {
    color: black;
    cursor: pointer;
}

.ActiveButton {
    color: blue;
}