.somethingElse {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;
}

.container {
    /* Frame 147 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    height: 70vh;
}

.ImageRow {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.ImageRow > img {
    width: 20%;
    filter: drop-shadow(118px 242px 108px rgba(16, 38, 70, 0.02)) drop-shadow(66px 136px 91px rgba(16, 38, 70, 0.05)) drop-shadow(30px 61px 67px rgba(16, 38, 70, 0.09)) drop-shadow(7px 15px 37px rgba(16, 38, 70, 0.1)) drop-shadow(0px 0px 0px rgba(16, 38, 70, 0.1));
}

.Item {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.somethingElse > h3 {
   
    /* H3 */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 39.81px;
    /* identical to box height, or 141% */
    
    text-align: center;
    
    color: #0076BD;
    margin: 70px 0 50px 0;
}

.container h4 {



/* h4 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 27.648px;
/* identical to box height, or 116% */
margin: 0;
align-self: flex-start;

color: #414750;

}
