.footer {
    height: 40vh;
    width: 100%;
    font-family: poppins;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner {
    height: 3rem;
    background: #61646B;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 700;
}
.banner ul {
    list-style-type: none;
    text-align: start;
    font-size: 0.7rem;
    line-height: 1.2rem;
    display: flex;
    gap: 2rem;
    padding: 0 3rem;
    box-sizing: border-box;

}