.container {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 16vh 10vh auto auto auto;
    grid-template-areas: 
    "header header header"
    ". progress ."
    ". card ."
    "banner banner banner"
    "footer footer footer"
    ;
}
.Header {
    grid-area: header;
    /* align-items: center; */
    /* background-color: grey; */
}
.ProgressBar {
    grid-area: progress;
    /* background-color: green; */
}
.main-card {
    grid-area: card;
    /* background-color: brown; */
    align-items: center;
}
.GetAnswersBanner {
    grid-area: banner;
    display: flex;
    justify-content: flex-end;
}
.Footer {
    grid-area: footer;
    /* background-color: blue; */
}