.quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 40px;

    color: #FFFFFF;
    background: #0076BD;
    border-radius: 25px;
    border-style: none;

    position: absolute;
    width: 225px;
    height: 46px;
    left: 38.7rem;
    bottom: 6.5rem;
}

.checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 40px;

    color: #FFFFFF;
    background: #0076BD;
    border-radius: 25px;
    border-style: none;

    position: absolute;
    width: 225px;
    height: 46px;
    right: 38rem;
    bottom: 16rem;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    
}