.hero {
    font-family: poppins;
    height: 80vh;
    width: 100%;
    position: relative; /* important because there will be an image  */
    /* margin-bottom: 12rem; */
    top: 8vh;

}

.hero:before { /* insert image before the hero element */
    content: '';
    background: url('../../../images/success-page/success-hero.png') no-repeat center center/contain;
    height: 100%; /* of the parent container */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {

    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 50%;
    left: calc(50% - 55%/2);
    top: 8rem;
    border: 3px solid #F3F4F5;
    border-radius: 4px;
    align-items: center;
    
}

.overlay > img {
    padding-top: 2rem;
}

.overlay h3 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 39.81px;
    line-height: 5rem;
    /* identical to box height, or 141% */
    text-align: center;
    color: #F3F4F5;
    margin: 1%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.overlay p {
    /* Your policy has been sent to your email. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27.648px;
    line-height: 2rem;
    text-align: center;
    margin: 1rem;
    display: block;
    align-items: center;
    color: #F3F4F5;

    flex: none;
    order: 1;
    flex-grow: 0;

}